<ion-content>

  <div style="margin-top: 25%; flex-direction: column;" class="flex-center">
    <ion-text>
      <h2>Enter Passcode</h2>
    </ion-text>
    <ion-input [formControl]="passcodeInput" id="passcode-input" type="password" clearOnEdit="false" enterkeyhint="done" inputmode="numeric" minlength="4" maxLength="6"></ion-input>
    <ion-text style="margin-top: 2rem;" color="danger">
      <p>{{msg}}</p>
    </ion-text>
  </div>

  <div id="btn-bar" class="flex-center">
    <ion-button *ngIf="biometricStatus === 'face' || 'touch'" (click)="biometricAuth()" class="unlock-btn" fill="outline">
      <ion-icon slot="icon-only" name="finger-print-outline" size="large"></ion-icon>
    </ion-button>
    <ion-button (click)="passcodeAuth()" class="unlock-btn">
      <ion-icon slot="icon-only" name="lock-open-outline" size="large"></ion-icon>
    </ion-button>
  </div>

</ion-content>
