ion-toolbar {
    box-shadow: none !important;
    --border-width: 0 !important;
    padding-top: 0px !important;
}
#modal-dismiss-bar {
    background: var(--ion-color-medium);
    width: 40px;
    height: 6px;
    border-radius: 20px;
    margin: auto;
}

.sound-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 2rem 1rem;
    overflow: hidden;
}

.sound-wave {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    width: fit-content;
    height: 100px;
}

.sound-wave .bar {
    display: block;
    background: var(--ion-color-light-contrast);
    border-radius: 25px;
    width: 4px;
    margin-left: 6px;
    transition: height 1s;
}

.toggle-btn {
    --background: transparent;
    --background-activated: transparent;
    --border-color: var(--ion-color-light-contrast);
    --border-width: 2px;
    --border-width: 3px;
    --padding-start: 0;
    --padding-end: 0;
    width: 70px;
    height: 70px;
}
.record-icon {
    width: 58px;
    height: 58px;
    background: var(--ion-color-danger);
    border-radius: 60px;
}
.toggle-btn:active .record-icon, .record-icon:active {
    background: var(--ion-color-danger-shade);
}

.flex-center {
    display: flex;
    justify-content: center;
}

.input {
    --background: var(--ion-color-light-tint);
    --padding-start: 10px;
    --padding-top: .75rem;
    --padding-bottom: .75rem;
    border-radius: 8px;
    margin-top: 1rem;
    font-size: large;
}