<ion-header>
  <ion-toolbar color="transparent">
    <div id="modal-dismiss-bar"></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center" style="margin-top: 2rem;">
    <ion-text style="font-size: large;">
      <b>{{today | date:'shortTime'}}</b> &nbsp; • &nbsp; {{duration | audioDuration}}
    </ion-text>
  </div>
  <div class="sound-container">
    <div class="sound-wave">
      <i [@sound-bar]="{value: ':enter', params: { previousBarWidth: getPreviousBarWidth() }}" class="bar" *ngFor="let wave of amplitude" [ngStyle]="{'height.px': wave }"></i>
    </div>  
  </div>
  <div class="flex-center">
    <ion-button class="toggle-btn" (click)="toggleRecord()" fill="outline" shape="round" size="large">
      <ion-icon *ngIf="isRecording;else recordIcon" slot="icon-only" name="pause" size="large" color="dark"></ion-icon>
      <ng-template #recordIcon>
        <div class="record-icon"></div>
      </ng-template>
    </ion-button>
  </div>
  <div class="flex-center">
    <form [formGroup]="entryForm" style="width: 90%; margin-top: 1rem;">
      <ion-input formControlName="title" placeholder="Title" class="input" clearInput inputmode="text" enterkeyhint="done"></ion-input>

      <ion-button (click)="dismiss()" style="margin-top: 2rem; margin-bottom: 3rem;" color="primary" expand="block" shape="round" type="button">Save Recording</ion-button>
    </form>
  </div>
</ion-content>
