ion-split-pane {
  --side-max-width: 320px;
  --side-width: 320px;
}
.sidebar-title {
  --background: transparent;

  ion-title {
    font-size: xx-large;
    font-family: cursive;
    margin-top: 2rem;
    text-align: center;
  }
}

.sidebar-item {
  --border-radius: 30px !important;
  --background: transparent;
  --padding-top: .5rem;
  --padding-bottom: .5rem;
  --padding-start: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;

  ion-label {
    font-size: 1.2rem;
  }
}
.active-sidebar-item {
  --background: var(--ion-color-light-shade)
}