<ion-tabs *ngIf="screenWidth < 769; else sidebar">
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="diary">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Diary</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="imagination">
      <ion-icon name="bulb-outline"></ion-icon>
      <ion-label>Imagination</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="more">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ng-template #sidebar>
  <ion-split-pane contentId="main">
    <!--  the side menu  -->
    <ion-menu contentId="main">
      <ion-toolbar class="sidebar-title">
        <ion-title>Dear Diary</ion-title>
      </ion-toolbar>
      <ion-content>
        <div>
          <ion-item class="sidebar-item" routerLink="/home/diary" routerLinkActive="active-sidebar-item" lines="none" style="margin-top: 2rem;">
            <ion-icon color="primary" name="book-outline" slot="start"></ion-icon>
            <ion-label>Diary</ion-label>
          </ion-item>
          <ion-item class="sidebar-item" routerLink="/home/imagination" routerLinkActive="active-sidebar-item" lines="none">
            <ion-icon color="primary" name="bulb-outline" slot="start"></ion-icon>
            <ion-label>Imagination</ion-label>
          </ion-item>
          <ion-item class="sidebar-item" routerLink="/home/more" routerLinkActive="active-sidebar-item" lines="none">
            <ion-icon color="primary" name="menu-outline" slot="start"></ion-icon>
            <ion-label>More</ion-label>
          </ion-item>
        </div>
      </ion-content>
    </ion-menu>
  
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ng-template>